.TitlePage {
    font-size: 1.6rem;
}

.TitlePageDiv {
    display: inline-block;
    background-color: var(--color-label-titles);
    border-radius: 20px;
    width: max-content;
    padding: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.501);
}