.GerenciarProdutosDiv {
    background-color: var(--bg-page2);
    display: flex;
    flex-direction: column;
    width: 76vw;
    height: 100%;
    padding: 30px 20px 0px 20px;
    margin: 0px auto;
    margin-right: 20px;
}

.tituloPaginaAtual {
    width: 100%;
}


.topNavBarGerenciarProdutos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(0px, 100%);
    width: 100%;
    padding: 5px 50px;
    gap: 20px 15px;
}

.topNavBarGerenciarProdutos > button:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.topNavBarGerenciarProdutos > button:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.topNavBarGerenciarProdutos > button:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}


.topNavBarGerenciarProdutos > button:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}


.topNavBarGerenciarProdutos > input:nth-child(5) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}





.topNavBarGerenciarProdutos, .GerenciarProdutosDiv > h1 {
    margin: 10px auto;
}

.inputValue {
    border-radius: 20px;
    border: 0px solid transparent;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.523);
    padding: 10px;
    margin: 10px;
    outline: 0;
    &::selection {
        outline: 0;
        border: 0;
        background-color: var(--bg-page5);
    }
}


.TituloTabelaDeProdutos {
    color: var(--color-font)
}

.TopNavBarButton {
    width: 100%;
    padding: 0px;
}
