/src/gcb/build/*
/src/gcb/dist/*
/src/gcb/gcb/backend/dist/*
/src/gcb/backend/dist
/src/gcb/backend/build/*
/src/gcb/backend/build
/src/gcb/build/bin/*
/src/gcb/build/bin
/src/gcb/node_modules/*
/src/gcb/frontend/dist
/src/gcb/frontend/dist/*
/src/gcb/backend/static/
node_modules
backend/static/*
build/
dist/
*.rar
*txtt
*.dia
*.db
*.pyc
*.pyd
*.autosave
*.toc
*.pyz
*.cache
*.pkg
*.override
*.xml
*.conf
*.so
*.old
