.mainDivGraph {
    width: 100%;
    height: 85%;
}

.graphDiv {
    display: block;
    width: max-content;
    height: max-content;
    margin: auto;
    
    & > canvas {
        width: 100%;
    }
}

