@import url('../../Components/MainScreenStyles/MainScreenStyles.css');

.AlterarDadosProdutosDiv {
    display: block;
    
    background-color: var(--bg-page2);
    width: 76vw;
    
    padding: 20px;
    padding-top: 30px;

    margin-right: 20px;
}

.tituloPaginaAtual {
    width: 100%;
}

.entradaDeDadosDivMain {
    width: 100%;
    background-color: var(--bg-page3);
    border-radius: 20px;
    padding-bottom: 30px;
    & > button:nth-child(2) {
        position: relative;
        right: 20%;
    }


    & > button:nth-child(3) {
        position: relative;
        left: 20%;
    }
}

.entradaDeDados {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(0px, max-content);
    border-radius: 20px;
    background-color: var(--bg-page3);
    
    width: 96%;

    
    row-gap: 15px;
    column-gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    
    text-align: right;

    & > input {
        height: 100%;
    }

    & > label {
        font-size: 1.5rem;
    }
}




.buttonRegister {
    font-size: 1.2rem;
    padding: 15px;
}