@import url('../../Components/MainScreenStyles/MainScreenStyles.css');


.contentOutletDiv {
    display: block;
    width: 78dvw;
    min-height: 100vh;
    margin-right: 20px;
    overflow-y: hidden;
    overflow-x: hidden;

    border-radius: 0px 20px;
    padding: 0px 10px;
    overflow-y: auto;
}

.outletPages {
    display: block;
    position: relative;
    top: 0px;
}