.HistoryBasicFoodBasketDivMain {
    background-color: var(--bg-page2);
    
    width: 100%;
    height: 90dvh;
    

    margin: auto;
    padding: 10px;

    overflow-y: scroll;
}

.TopTitleDiv {
    margin: 20px 0px;
}

.historyTableOfBaskets {
    
}
