.divMainForm {
    background-color: var(--bg-page2);
    height: 100%;
}


.formDiv {
    display: flex;
    flex-direction: column;

    background-color: var(--bg-page3);
    
    width: 90%;

    border-radius: 20px;

    margin: auto;
    padding: 10px;
    gap: 10px;
}

.TitleTopPageDiv {
    margin: 20px 0px;
}