.TopBarMenu {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;

    width: 100vw;
    height: max-content;
    
    background-color: var(--bg-dashboard);

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.501);

    
    font-size: 1.5rem;
    padding: 10px;
    z-index: 1;
    & > div > a {
        display: flex;
        width: 100%;
        text-decoration: none;
        color: var(--color-font);
    }
    & > div {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    & > div > a > svg {
        width: 40px;
        height: 40px;
        margin: auto;
    }

    & > div > a > label {
        height: 1.5rem;
        margin: auto;
        cursor: pointer;


    }

}


.HelpDiv {
    margin-right: 30px !important;
}