.ButtonDashboardDiv {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-page2);
    width: 100%;
    height: max-content;
    padding: 8px;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;

    & > a {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-decoration: none;
    
    }
    & > a > div > svg {
        display: block;
        width: 35px;
        height: 35px;
        color: var(--icon-svg-color);
    }
    & > a:active {
        color: var(--color-font2);
    }

}

.labelBotao {
    text-decoration: none;
    color: var(--color-font);
    height: 1rem;
    margin: auto;
    cursor: pointer;
}


.ButtonDashboardDiv:hover, .labelBotao:hover {
    background-color: var(--bg-page1);
    color: var(--color-font2);
}

.ButtonDashboardButton {
    background-color: var(--bg-button-comp);
    color: var(--color-button-font);
    border: 0px solid transparent;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
    font-size: 1rem;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.513);
    margin-left: 15px;
    cursor: pointer;
}

.ButtonDashboardButton:hover {
    background-color: var(--bg-button-comp-hover);
    color: var(--color-font2)
}

.IconButtonDashboard {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--bg-button-comp);
}

@media screen and (max-width: 900px) {
    .ButtonDashboardDiv {
        font-size: 0.5rem;
        padding: 5px;
        & > a > div > svg {
            width: 25px;
            height: 25px;
        }
        
    }

    .ButtonDashboardButton {
        font-size: 0.5rem;
    }

    .labelBotao {
        height: 0.5rem;
        font-size: 0.5rem;
    }
    
}