@import url("./Components/Styles/PaletaDeCores.css");

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-page1);
  width: 100dvw;
  max-width: 100dvh;
  height: 100dvh;
  overflow-y: hidden;
}
