
/*
.ListaDeProdutosCadastradosDiv {
    display: block;
    margin: auto;
    padding: 10px;
}
*/
.LabelListProdutos {
    background-color: var(--color-button);
}


table, th ,td {
    border: 2px solid var(--bg-page1);
    
    padding: 10px;
    width: 100%;
    margin: 0px;

}

td {
    color: black;
    background-color: white;
}

table {

    border-collapse: separate;
    border-spacing: 0 0px;
}

.ListaDeProdutosCadastrados {
    display: block;
    background-color: var(--bg-page3);
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    list-style: none;

    border: 0px solid transparent;
    border-radius: 20px;
    color: var(--color-font);

    & > tbody > tr > td {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        & > label {
            height: max-content;
        }
    }

    & > tbody {
        border: 0px solid transparent;
    }

}


.ListaDeProdutosCadastrados > thead > tr, .ListaDeProdutosCadastrados > tbody > tr {
    display: grid;
    grid-template-columns: max-content 3fr 0.6fr 0.6fr 1fr;
    grid-auto-rows: minmax(0px, max-content);
}

.ListaDeProdutosCadastrados > thead {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.linhaTabela {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    gap: 10px;
}


.linhaTabela > th {
    margin-bottom: 20px;
}
.ListaDeProdutosCadastrados > thead > tr:nth-child(1), .ListaDeProdutosCadastrados > thead > tr > th:nth-child(1) {
    border-radius: 20px 0px 0px 20px;
}

.ListaDeProdutosCadastrados > thead > tr:nth-last-child(1), .ListaDeProdutosCadastrados > thead > tr > th:nth-last-child(1) {
    border-radius: 0px 20px 20px 0px;
}

.linhaTabela > th:nth-child(1), .linhaTabela > td:nth-child(1) {
    width: max-content;
}

.ListaDeProdutosCadastrados > tbody > tr.linhaTabela:nth-child(1) {
    border-radius: 20px 20px 0px 0px;
    & > td:nth-child(1) {
        border-radius: 20px 0px 0px 0px;
    }

    & > td:nth-last-child(1) {
        border-radius: 0px 20px 0px 0px;
    }
}
.ListaDeProdutosCadastrados > tbody > tr.linhaTabela:nth-last-child(1) {
    border-radius: 0px 0px 20px 20px;
    & > td:nth-child(1) {
        border-radius: 0px 0px 0px 20px;
    }
    & > td:nth-last-child(1) {
        border-radius: 0px 0px 20px 0px;
    }
}



.ProdutoListaCadastrado {
    color: var(--color-font);
    margin: 0px;
}

.selecionada > td {
    background-color: var(--bg-page1);
    color: var(--color-font-hover);
}

.checkBoxItem {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.496);
}