.SimpleButton {
    display: inline-block;
    background-color: var(--color-button);
    color: var(--color-button-font);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 0px solid transparent;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.549);
    
}

.SimpleButton:hover {
    background-color: var(--color-button-hover);
    color: var(--color-font-hover)
}