@import url("../../Styles/PaletaDeCores.css");

.LabelTopOptionsDiv {
    width: max-content;
    max-width: 100vw;
    font-size: 1rem;
    padding: 10px;
}

.LabelTopOptions {
    display: block;
    max-width: max-content;
    position: relative;
    margin: auto;
    color: var(--color-font);
    text-align: center;
    width: max-content;

    width: 100%;
    word-wrap: break-word;
    
}

.UnderscoreBar {
    display: block;
    width: 100%;
    max-width: 100vw;
    height: 5px;
    background-color: var(--color-font-hover);
}

@media screen and (max-width: 900px) {
    .LabelTopOptions {
        font-size: 0.5rem;
    }
    
}