.ArticleDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(0px, 90dvh);
    width: 78dvw;
    height: 90dvh;
    margin-right: 20px;
    
    background-color: var(--bg-page2);
}
.NavAndSearchDiv {
    width: 100%;
    margin-right: 5px;
    background-color: var(--bg-page3);
}

.searchOnDocumentation {
    width: 95%;
    height: 2rem;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 20px;
    outline: 0;
    border: 0;
    &::selection {
        outline: 0;
        background-color: var(--bg-page5);
    }
}

.ArticleComp {
    width: 100%;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    overflow-y: scroll;
    & > h1 {
        background-color: var(--bg-page3);
        text-align: center;
    }
}

.navbarArticle {
    list-style: none;
    background-color: var(--bg-page3);
    
    padding: 0px;
    width: 100%;
    & > li {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        background-color: var(--bg-page4);
    }

    & > li:nth-child(1) {
        border: 1px solid black;
        border-top: 2px solid black;
    }

    & > li:nth-last-child(1) {
        border: 1px solid black;
        border-bottom: 2px solid black;
    }


    & > li:hover {
        background-color: var(--bg-page2);
    }
}


